In [158]:
'''
URJC / GIA / Aprendizaje Automático 1 / Curso 23-24
alfredo.cuesta@urjc.es
'''
import pandas as pd
import random

# Tipos de datos
En este curso vamos a trabajar sobre el tipo de datos base, que además es posiblemente el más común de todos: **datos tabulados**.

Cuando tenemos datos tabulados los ejemplos a partir de los cuales aprenderemos nuestro modelo se representan en una **tabla** donde:
- cada fila es un ejemplo,
- cada columna es un **atributo** de dicho ejemplo que ha sido medido en un proceso que no nos incumbe.

En general, diremos que hay $N$ ejemplos y $D$ columnas.<br>
La letra $D$ hace referencia a la dimensionalidad. Si pensamos que todo se terminará almacenando en un ordenador, entonces un ejemplo se puede ver como un vector de $D$ componentes, o sea un vector en un espacio $D$-dimensional.

Aunque los datos se presenten en forma de tabla numérica, cada columna puede tener un caracter diferente. Así podemos distinguir entre:
- atributos continuos
- atributos discretos
- atributos categóricos

## Atributos continuos

Son aquellos atributos que pueden tomar cualquier valor en un intervalo de $\mathbb R$.

Algunos ejemplos del intervalo puede ser: $(-\infty,+\infty)$, $(a,+\infty)$, $(-\infty,a)$ o $(a,b)$.

In [159]:
# Este código genera un pandas dataframe con 10 ejemplos de 2 atributos continuos
# en el intervalo (0,1) generados de manera aleatoria

N = 10
df_continuo = pd.DataFrame({
    'Atributo 1': [random.uniform(0, 1) for _ in range(N)],
    'Atributo 2': [random.uniform(0, 1) for _ in range(N)]
})

print(df_continuo)

   Atributo 1  Atributo 2
0    0.560825    0.689288
1    0.555016    0.231519
2    0.872180    0.330449
3    0.412077    0.947217
4    0.165746    0.499082
5    0.659281    0.612439
6    0.135013    0.424755
7    0.229385    0.917360
8    0.824838    0.810622
9    0.756437    0.081383

## Atributos discretos
Son aquellos atributos que pueden tomar solo un número finito de valores dentro de un intervalo $(a,b)$.

Los atributos booleanos son un caso particular de atributos discretos donde los únicos valores posibles son {0, 1}.

In [160]:
# Este código genera un pandas dataframe con 10 ejemplos de 2 atributos discretos
# en el intervalo (-5,5) generados de manera aleatoria

N = 10
df_discreto = pd.DataFrame({
    'Atributo 1': [random.randint(-5, 5) for _ in range(N)],
    'Atributo 2': [random.randint(-5, 5) for _ in range(N)]
})

print(df_discreto)

   Atributo 1  Atributo 2
0           2           0
1           1           5
2          -4          -3
3           4          -4
4           1          -2
5           1           4
6           1           0
7          -4           0
8           0           3
9          -5           4

## Atributos categóricos
Son aquellos atributos que pueden tomar sólo un número finito de valores dentro de un conjunto que puede no tener una relación de orden entre sus miembros.

Por ejemplo, un atributo *color* que pueda tomar valores en el conjunto {*rojo*, *verde*, *azul*} es categórico porque NO existe una relación de orden entre rojo, verde y azul; es decir uno no va ni delante ni detrás de los otros.

Sin embargo un atributo *dia_de_semana* con valores en el conjunto {*lunes*, *martes*, *miercoles*, *jueves*, *viernes*, *sábado*, *domingo*} además de ser categórico tiene una relación de orden entre sus elementos: *lunes* precede a todos, *miércoles* va antes que *sábado* pero después del *martes*, etc.

In [161]:
# Este código genera un pandas dataframe con 10 ejemplos de 2 atributos categóricos

N = 10
df_categorico = pd.DataFrame({
    'Atributo 1': [random.choice(['hombre', 'mujer']) for _ in range(N)],
    'Atributo 2': [random.choice(['rojo', 'verde', 'azul']) for _ in range(N)],
}, dtype="category")

print(df_categorico)

  Atributo 1 Atributo 2
0     hombre       azul
1     hombre       azul
2      mujer      verde
3      mujer      verde
4     hombre      verde
5     hombre       azul
6      mujer       rojo
7     hombre       rojo
8      mujer       azul
9      mujer       rojo

### Codificación de los datos categóricos

Los datos continuos y discretos son números y por tanto no precisan de ninguna codificación.
Sin embargo los datos categóricos son elementos de un conjunto y normalmente vienen descritos por palabras.

Existe una relación biyectiva entre un conjunto de categorías y el conjunto de los números naturales.
Esto significa que a cada elemento del conjunto de categorías se le puede asignar un número natural. Si lo hacemos estaremos **codificando** el atributo categórico.
Hay dos maneras de hacer esto en Pandas:
- Asignando un entero a cada elemento del conjunto
- Utilizando una codificación *One-Hot*

#### Codificación con enteros
<hr>

**Previo**:<br>
Pandas distingue entre "Series" y "DataFrames".
- Una Serie es el equivalente a un array o un vector, es decir una estructura de datos lineal con $N$ filas.
- Un DataFrame es una tabla.

Cuando seleccionamos una única columna de una DataFrame el resultado se convierte automáticamente en una Serie.
<hr>

Pandas permite codificar con enteros una Serie.
<br>
Por ejemplo:  `df_categorico['Atributo 1'].cat.codes`

Si queremos codificar todos los atributos categóricos de un DataFrame debemos recorrer sus columnas ejecutando `cat.codes`.

Para saber a qué categoría se corresponde cada entero lo mejor es ir creando un diccionario al mismo tiempo. Para ello utilizaremos primero `cat.categories` y luego juntaremos códigos y categorías en la estructura de datos `dict` de Python.

In [162]:
# En este ejemplo vamos a ver como funciona `cat.codes` y `cat.categories`
# y creamos el diccionario de códigos a categorías.

codes1 = df_categorico['Atributo 1'].cat.codes
categ1 = df_categorico['Atributo 1'].cat.categories
code_to_categ1 = dict(zip(codes1,df_categorico['Atributo 1']))  # Recupera la categoría a partir del código asignado

codes2 = df_categorico['Atributo 2'].cat.codes
categ2 = df_categorico['Atributo 2'].cat.categories
code_to_categ2 = dict(zip(codes2,df_categorico['Atributo 2']))  # Recupera la categoría a partir del código asignado

print('Diccionario código->categoría: ',code_to_categ1)
print('Diccionario código->categoría: ',code_to_categ2)

Diccionario código->categoría:  {0: 'hombre', 1: 'mujer'}
Diccionario código->categoría:  {0: 'azul', 2: 'verde', 1: 'rojo'}

Si queremos asignar nosotros el código en vez de dejar a Python que lo elija, entonces debemos crear un diccionario con todas las categorías y su respectivo código y después aplicarlo usando `map`.

En el siguiente ejemplo lo hemos aplicado de dos maneras:

1. Para "Atributo1" hemos obtenido la lista de valores únicos y luego hemos asignado a cada uno el entero que marca su posición en la lista.
2. Para "Atributo2" hemos creado una lista con *todos* las categorias posibles (vamos a suponer que sólo  esos 10 colores son posibles) y luego hemos asignado a cada uno el entero correlativo, empezando por cero.<br>
Si quisieramos cambiar el código sólo habría que cambiar el orden de los colores.

In [163]:
# En este ejemplo vamos a crear el diccionario de categorías a códigos

categorias1 = df_categorico['Atributo 1'].unique()                                                          # Indica cuántas categ. diferentes y cuáles hay en el df con '.unique'
categ_to_code1= {string: i for i, string in enumerate(categorias1)}
categ1 = df_categorico['Atributo 1'].map(categ_to_code1)

categorias2 = ['blanco','amarillo','verde','cian','rosa','azul','morado','rojo','marrón','gris','negro']    # Lista de posibles dibujos que pueden aparecer
categ_to_code2= {string: i for i, string in enumerate(categorias2)}                                         # Recorre la lista y asocia un número a cada color y lo guarda en un diccionario
categ2 = df_categorico['Atributo 2'].map(categ_to_code2)                                                    # Aplica el cambio de valor al df

print('Diccionario categoría->código: ',categ_to_code1)
print(categ1, "\n")

print('Diccionario categoría->código: ',categ_to_code2,)
print(categ2)

Diccionario categoría->código:  {'hombre': 0, 'mujer': 1}
0    0
1    0
2    1
3    1
4    0
5    0
6    1
7    0
8    1
9    1
Name: Atributo 1, dtype: category
Categories (2, int64): [0, 1]

Diccionario categoría->código:  {'blanco': 0, 'amarillo': 1, 'verde': 2, 'cian': 3, 'rosa': 4, 'azul': 5, 'morado': 6, 'rojo': 7, 'marrón': 8, 'gris': 9, 'negro': 10}
0    5
1    5
2    2
3    2
4    2
5    5
6    7
7    7
8    5
9    7
Name: Atributo 2, dtype: category
Categories (3, int64): [5, 7, 2]

Estos métodos están orientados a Series, es decir a columnas. <br>
Si queremos cambiar todas las columnas categóricas por un código debemos hacerlo en un bucle PERO primero hay que identificar en cuales hay que actuar.

In [164]:
# En este ejemplo vamos listar aquellas columnas que son categóricas
# y luego vamos a codificarlas

# 1) averiguamos las columnas categóricas
cat_cols = df_categorico.select_dtypes(include='category').columns.tolist()
# 2) creamos un dataframe con las columnas categóricas pero sin filas
df_cat_coded = pd.DataFrame(columns=cat_cols)
# 3) creamos un bucle que las recorra y las codifique, a la vez que creamos una diccionario de diccionarios para descodificar en el futuro
dict_decode={}
for col in cat_cols:
  codes = df_categorico[col].cat.codes
  code_to_categ = dict(zip(codes,df_categorico[col]))
  df_cat_coded[col] = codes
  dict_decode[col] = code_to_categ

print(df_cat_coded)
print(dict_decode)

   Atributo 1  Atributo 2
0           0           0
1           0           0
2           1           2
3           1           2
4           0           2
5           0           0
6           1           1
7           0           1
8           1           0
9           1           1
{'Atributo 1': {0: 'hombre', 1: 'mujer'}, 'Atributo 2': {0: 'azul', 2: 'verde', 1: 'rojo'}}

#### Codificación *One-hot*
En esta codificación se crean tantas columnas como categorías diferentes hay por cada atributo categórico.<br>
La codificación se realiza escribiendo un 1 en aquella columna que se corresponde con la categoría y un 0 en todas las demás.

<u>_Por ejemplo_</u><br>
Para una atributo "Color" con tres categorías {*Rojo*,*Verde*,*Azul*} la codificación One-hot crearía tres columnas: "Rojo". "Verde" y "Azul". A continuación, para un ejemplo de la tabla con atributo "Color"="Rojo", pondría un 1 en la columna "Rojo" y un 0 en las otras dos. Y así con todos los ejemplos.

Estas nuevas columnas reciben el nombre de **dummies**.

In [165]:
# En este ejemplo hacemos una codificación One-hot de "Atributo 1" del
# dataframe "df_categorical"

one_hot = pd.get_dummies(df_categorico['Atributo 1'])

# Unir el dataframe original con el dataframe codificado
df = pd.concat([df_categorico, one_hot], axis=1)

df_ejercicio = df

print(df)

  Atributo 1 Atributo 2  hombre  mujer
0     hombre       azul       1      0
1     hombre       azul       1      0
2      mujer      verde       0      1
3      mujer      verde       0      1
4     hombre      verde       1      0
5     hombre       azul       1      0
6      mujer       rojo       0      1
7     hombre       rojo       1      0
8      mujer       azul       0      1
9      mujer       rojo       0      1

In [166]:
# label encoding

from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Crear un dataframe de ejemplo
df = pd.DataFrame({'Atributo Categórico': ['Gato', 'Perro', 'Perro', 'Pájaro']})

# Codificar el atributo categórico con Label Encoding
le = LabelEncoder()
df['Atributo Categórico'] = le.fit_transform(df['Atributo Categórico'])

print(df, "\n")

print(le.__dict__)     # Indica cuales son los atributos de la serie

   Atributo Categórico
0                    0
1                    1
2                    1
3                    2

{'classes_': array(['Gato', 'Perro', 'Pájaro'], dtype=object)}

# Utilidades extra

Una tabla de datos puede tener atributos de todos los tipos sin problema.

Eso sí, a la hora de manejarlos en dataframes de Pandas, es importante que cada atributo tenga un nombre diferente.

In [167]:
df = pd.concat([df_continuo, df_discreto , df_categorico], axis=1)
df.columns = ['atbCon1', 'atbCon2', 'atbDis1', 'atbDis2', 'atbCat1', 'atbCat2']

print(df)

    atbCon1   atbCon2  atbDis1  atbDis2 atbCat1 atbCat2
0  0.560825  0.689288        2        0  hombre    azul
1  0.555016  0.231519        1        5  hombre    azul
2  0.872180  0.330449       -4       -3   mujer   verde
3  0.412077  0.947217        4       -4   mujer   verde
4  0.165746  0.499082        1       -2  hombre   verde
5  0.659281  0.612439        1        4  hombre    azul
6  0.135013  0.424755        1        0   mujer    rojo
7  0.229385  0.917360       -4        0  hombre    rojo
8  0.824838  0.810622        0        3   mujer    azul
9  0.756437  0.081383       -5        4   mujer    rojo

A lo largo del curso usaremos varias bibliotecas de Python.
Las más importantes y frecuentes serán:

| Biblioteca | Modo de importar | Utilidad |
|----|----|----|
| Pandas | `import pandas` | Manejo de datos tabulados |
| Numpy  | `import numpy`  | Manejo de arrays n-dimensionales y funciones matemáticas|
| Scipy  | `import scipy`  | Manejo de funciones matemáticas y distribuciones de probabilidad |
| Scikit-learn | `import sklearn` | Biblioteca de ML |
| Random | `import random` | Generación aleatoria
| Matplotlib   | `from matplotlib import pyplot` | Generación de gráficos |

En particular, en La biblioteca **SciKit-Learn** de Python podemos encontrar algunos métodos de codificación similares a los que hemos visto en Pandas. <br>
Conviene conocerlos pero no los utilizaremos hasta que no empezemos a aprender modelos.

| | |
|----|----|
| `preprocessing.LabelEncoder` | Encode target labels with value between 0 and n_classes-1 |
| `preprocessing.OneHotEncoder` | Encode categorical features as a one-hot numeric array |
| `preprocessing.OrdinalEncoder` | Encode categorical features as an integer array. |
| `preprocessing.TargetEncoder` |  	Target Encoder for regression and classification targets |

# Ejercicios

Utilizar el método `factorize` de Pandas para crear una codificación de un atributo categórico.<br>
¿Qué diferencia hay entre `factorize` y los métodos que hemos usado de codificación con enteros?

Al utilizar `get_dummies` hemos añadido dos columnas a la tabla ("hombre" y "mujer"), pero ¿cómo se eliminaría la columna "Atributo 1"?

In [168]:
df_ejercicio

  Atributo 1 Atributo 2  hombre  mujer
0     hombre       azul       1      0
1     hombre       azul       1      0
2      mujer      verde       0      1
3      mujer      verde       0      1
4     hombre      verde       1      0
5     hombre       azul       1      0
6      mujer       rojo       0      1
7     hombre       rojo       1      0
8      mujer       azul       0      1
9      mujer       rojo       0      1

In [169]:
df_ejercicio = df_ejercicio.drop(['Atributo 1'], axis=1)
df_ejercicio

  Atributo 2  hombre  mujer
0       azul       1      0
1       azul       1      0
2      verde       0      1
3      verde       0      1
4      verde       1      0
5       azul       1      0
6       rojo       0      1
7       rojo       1      0
8       azul       0      1
9       rojo       0      1